.dinero{
  color: blueviolet;
    font: italic 14px /30px Georgia, serif;
    //padding-left: 29px;
    text-align: center;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/